<launch>

  <arg name="UAV_NAME" default="$(env UAV_NAME)" />
  <arg name="RUN_TYPE" default="$(env RUN_TYPE)" />

  <arg name="debug" default="false" />
  <arg name="standalone" default="false" />
  <arg name="custom_config" default="" />

  <arg name="3d_lidar_topic" default="~REMAP_ME" />
  <arg name="2d_lidar_topic" default="~REMAP_ME" />

  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <arg name="nodelet_manager_name" default="" />
  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="standalone" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="load" />
  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="$(arg nodelet_manager_name)" />

  <arg if="$(eval arg('RUN_TYPE') == 'simulation')" name="simulation" default="true" />
  <arg unless="$(eval arg('RUN_TYPE') == 'simulation')" name="simulation" default="false" />

  <group ns="$(arg UAV_NAME)">

    <node pkg="nodelet" type="nodelet" name="octomap_server" args="$(arg nodelet) mrs_octomap_server/MrsOctomapServer $(arg nodelet_manager)" output="screen" launch-prefix="$(arg launch_prefix)">

      <rosparam file="$(find mrs_octomap_server)/config/params_ouster.yaml" />

      <param name="uav_name" type="string" value="$(arg UAV_NAME)" />
      <param name="frame_id" type="string" value="$(arg UAV_NAME)/slam_mapping_origin" />
      <param name="simulation" type="bool" value="$(arg simulation)" />

      <!-- topics -->
      <!-- 3D lidar -->
      <remap from="~point_cloud_in" to="$(arg 3d_lidar_topic)" />
      <!-- 2D lidar -->
      <remap from="~laser_scan_in" to="$(arg 2d_lidar_topic)" />

      <remap from="~octomap_binary_out" to="octomap_server/octomap_binary" />
      <remap from="~octomap_full_out" to="octomap_server/octomap_full" />
      <remap from="~occupied_cells_via_array_out" to="octomap_server/occupied_cells_via_array" />
      <remap from="~free_cells_via_array_out" to="octomap_server/free_cells_via_array" />
      <remap from="~octomap_point_cloud_centers_out" to="octomap_server/octomap_point_cloud_centers" />
      <remap from="~octomap_free_centers_out" to="octomap_server/octomap_free_centers" />
      <remap from="~projected_map_out" to="octomap_server/projected_map" />

        <!-- services -->
      <remap from="~octomap_binary" to="octomap_server/octomap_binary" />
      <remap from="~octomap_full" to="octomap_server/octomap_full" />
      <remap from="~clear_bbx" to="octomap_server/clear_bbx" />
      <remap from="~reset" to="octomap_server/reset" />

    </node>

  </group>
</launch>
